<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YouTubeLiveCommentViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <userSettings>
    <YouTubeLiveCommentViewer.Properties.Settings>
      <setting name="row1" serializeAs="String">
        <value>135</value>
      </setting>
      <setting name="row2" serializeAs="String">
        <value>264</value>
      </setting>
      <setting name="row3" serializeAs="String">
        <value>61</value>
      </setting>
      <setting name="row4" serializeAs="String">
        <value>103</value>
      </setting>
      <setting name="form_size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="bouyomi1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bouyomi2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bouyomi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="font" serializeAs="String">
        <value>Yu Gothic UI, 9pt</value>
      </setting>
      <setting name="normalBack" serializeAs="String">
        <value />
      </setting>
      <setting name="normalFore" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ownerBack" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="ownerFore" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="moderatorBack" serializeAs="String">
        <value />
      </setting>
      <setting name="moderatorFore" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="sponserBack" serializeAs="String">
        <value />
      </setting>
      <setting name="sponserFore" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="hideOnDelete" serializeAs="String">
        <value>False</value>
      </setting>
    </YouTubeLiveCommentViewer.Properties.Settings>
  </userSettings>
</configuration>
